

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  text-decoration: none;
  color: black;
}

.nav {
  background-color:white;
  position: fixed;
  color:black;
  width: 100%;
  margin-left: 0;
  display: flex;
  margin-top: 0px;
  padding-top: 10px;
  justify-content: flex-start;
}

.navright {
  background-color:none;
  position: fixed;
  color:black;
  width: 100%;
  margin-left: 0;
  display: flex;
  margin-top: 0px;
  padding-top: 10px;
  justify-content: flex-end;
}

.navbar li {
  list-style: none;
  justify-content: space-between;
  margin-right: 25px;
  border-bottom: 5px solid white;
  padding-bottom: 10px;
}

.navbar#left li:hover {
  color: 	#000000;
  /* text-decoration: underline;
  text-underline-position: under; */
  border-bottom: 5px solid 	#000000;
  padding-bottom: 10px;
}

.header-color {
  background: #D38312;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* HOME */

.homepage-banner {
  width: 100%;
  /* margin-top: 50px; */
  margin-bottom: 30px;
  /* background-color: #BCBCBC; */
  background-size: cover;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  height: 100%;
}

h3 {
  color: white;
}

.intro {
  background-image: url('./assets/code.jpg');
  background-size: cover;
  padding-top: 50px;
  text-align: center;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.megan {
  color:#f4429b;
}

.hi {
  font-size: 160px;
}

.banner-text {
  background-color:none;
  opacity: 0.8;
  width: 75%;
  height: 30%;
  border-radius: 0px;
  margin: 0 auto;
  text-align: left;
  padding-top: 0;
}

.banner-text h1 {
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin:0;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 1em;
}

.pink-banner {
  width: 40%;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #f4429b;
  margin-right: 0;
  border:none;
}

 i {
  color:black;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}

i:hover {
  color: #f4429b;
}

.banner-box {
  width: 75%;
}


/* ABOUT */

.aboutme {
  /* position: absolute; */
  clip-path: inset(0px 0px 0px 0px);
  background: rgba(0,0,0,.3);
  clip-path: polygon(0 0, 100% 0px, 100% 90%, 0 100%);
  height: 95vh;
  margin-top: 30px;
  margin-left: 0;
  display: flex;
}

.avatar-image {
  height: 250px;
  padding-top: 5em;
}

.about {
  /* display: flex; */
  background-color:none;
  opacity: 0.8;
  width: 75%;
  height: 30%;
  border-radius: 0px;
  margin: 0 auto;
  text-align: left;
}

.aboutImage {
text-align: center;
margin-top: 50px;
}

/* PROJECTS */

.projects {
  background: white;
  height: 95vh;
}

.projects-box {
 
}

.project {
  height: 250px;
}

/* SLIDER */

.slider { 
  height: 700px;
  width: 700px;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
}

/* CONTACT */

.contact {
  background: rgba(0,0,0,.3);
  padding-bottom: 20px;
  padding-bottom: 50px;
}
.contact-title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
}

.contact p {
  margin: 0 auto;
  padding: 0.3em;
  text-align: center;
}

.me {
 clip-path: circle(80px);
 justify-items: center;
}

.contact-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.row1 {
  flex: 1;
}

.row3 {
  flex: 1;
}

Button {
  width: 60%;
  margin-bottom: 20px;
  background-color: pink;
}

.left {
  margin-left: 30%;
}

.right {
  margin-right: 30%;
}

